<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration>

<configuration>
    <import class="ch.qos.logback.classic.encoder.PatternLayoutEncoder"/>
    <import class="ch.qos.logback.core.ConsoleAppender"/>

    <appender name="STDOUT" class="ConsoleAppender">
        <!--<encoder class="PatternLayoutEncoder">-->
        <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
            <!--<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} -%kvp- %msg%n</pattern>-->
            <layout class="io.gmasnou.springframework.samples.store.configuration.Logger"></layout>
        </encoder>
    </appender>

    <logger name="org.hibernate" level="debug"/>

    <root level="info">
        <appender-ref ref="STDOUT"/>
    </root>
    
</configuration>